.loginFormWrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    padding: 80px 140px;
    background-color: #F1ECE6;
    border-radius: 15px;
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.input {
    width: 100%;
    background-color: #e1e1e1;
    border: none;
    border-radius: 8px;
    padding: 12px 15px;
    margin-bottom: 10px;
    font-size: 16px;
}

.submitButton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #3E46E1;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}

.inputError {
    color: #D20505;
}

.registerLink {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.registerTitle {
    color: #FFF;
    font-size: 13px;
    padding-top: 3px;
    }