.modalWrapper {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 10px;
}

.modal_description {
    padding-top: 15px;
}

.modalButtons {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.modalButtonsEdit {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #5d9fd8;
    color: #FFF;
}

.modalButtonsDelete {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #d56868;
    color: #FFF;
    cursor: pointer;
}