.todoPage {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

.addTodo {
    background-color: #4D3FD0;
    color: #FFF;
    width: 100%;
    max-width: 700px;
    padding: 10px 0;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s all;
}

.addTodo:hover {
    background-color: #7469d6;
    color: #FFF;
}

.fetchError {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    
}