.tabs {
    width: 100%;
    max-width: 700px;
}


.todoPage {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: calc(100dvh - 95px);
}

.addTodo {
    position: fixed;
    bottom: 20px;
    background-color: #4D3FD0;
    color: #FFF;
    width: 100%;
    max-width: 700px;
    padding: 25px 0;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s all;
}

.addTodo:hover {
    background-color: #7469d6;
    color: #FFF;
}

.fetchError {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    
}