.todoSpinWrapper {
    width: 100%;
}

.todoItem {
    width: 100%;
    min-width: 660px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 3px solid #A1A0A0;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: .4s all;
}

.todoItem:hover {
    transform: scale(1.01);
}

.todoItemCompleted {
    opacity: 0.6;
}

.todoItemTitle {
    flex: 1;
    cursor: pointer;
    color: #A1A0A0;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block; 
}