* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #261D30;
    --secondary-color: #FD9D61;
    
    --modal-bg-color: #6D7180;

    --box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}